
.product {
  display: inline-block;
  width: 11rem;
  height: 18rem;
  margin: 25px;
  background-color: white;
  
}
div .names{
  
  font-size: 12px;
  font-weight: 500;
}

.product img {
  width: 7rem;
  height: 7rem;
  padding: 2px;
  
}
.product:hover{
  box-shadow: 5px 5px 5px 5px rgb(179, 179, 179);
  opacity:  1;
  transition:  400ms;
  background-color: white;
}

.btn:hover{
  color: black;
}
