div .qntyPicker{
    padding: 8px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
div .qntyPicker:hover{
    padding: 8px;
    background-color: rgb(255, 255, 255) ;
    margin-right: 50px;
    margin-left: 50px;
    box-shadow: 1px 1px 3px 5px rgb(255, 13, 13);
    opacity: 1;
    transition: 400ms;
}  


